[core]
        autocrlf = false
        ;hooksPath = /home/mitchelj/.git/hooks

; [diff]
;         external = difft
;
# aliases for difftastic
[alias]
        # Difftastic aliases, so `git dlog` is `git log` with difftastic and so on.
        dlog = -c diff.external=difft log --ext-diff
        dshow = -c diff.external=difft show --ext-diff
        ddiff = -c diff.external=difft diff

        # `git log` with patches shown with difftastic.
        dl = -c diff.external=difft log -p --ext-diff
        # Show the most recent commit with difftastic.
        ds = -c diff.external=difft show --ext-diff
        # `git diff` with difftastic.
        dft = -c diff.external=difft diff

        st = status -sb
        ll = log --oneline

        # pretty printing graph tree
        adog = log --all --decorate --oneline --graph
        lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'

# My config details
[user]
        email = mitchell.johnstone@directsupply.com
        name = Mitchell Johnstone

# How should the tool show merge conflicts?
[mergetool "nvimdiff"]
        layout = "LOCAL,BASE,REMOTE / MERGED"

# Always setup the remote branch for each main interaction
[push]
	autoSetupRemote = always
        default = current
[init]
	templateDir = /home/mitchelj/.git
