[core]
        autocrlf = false

[diff]
        tool = difftastic

# set difftastic as default
# [diff]
#         external = difft

[difftool]
        prompt = false

[difftool "difftastic"]
        cmd = difft --diff "$LOCAL" "$REMOTE"

# `git dft` is less to type than `git difftool`.
[alias]
        dft = "!f() { TMPDIR=~/tmp GIT_EXTERNAL_DIFF=difftastic git diff \"$@\"; }; f"

# `git dlog` to show `git log -p` with difftastic.
[alias]
        dlog = -c diff.external=difft log -p --ext-diff
	st = status -sb
	ll = log --oneline
[user]
        email = mitchell.johnstone@directsupply.com
        name = Mitchell Johnstone

[mergetool "nvimdiff"]
        layout = "LOCAL,BASE,REMOTE / MERGED"
